

<ul>
    {{#each post}}
    <li> <a href="/posts/{{this._id}}"> Title</a></li>
    <li>{{this.building}}</li>
    <li>{{this.floor}}</li>
    <li>{{this.description}}</li>
    <li>{{this.noiseRating}}</li>
    <li>{{this.locationRating}}</li>
    <li>{{this.studentCapacity}}</li>
    <li>{{this.nycViewRating}}</li>
    <li>{{this.photo}}</li>
    <li>{{this.foodNear}}</li>
    <li>{{this.likes}}</li>
    <li>{{this.comments}}</li>
    <p>Post Break</p>
    {{/each}}
</ul>

<a href="/home">Return Home</a>