
<div class="topnav">
  <a class="active" href="/home">Home</a>
  <a href="/posts/new">New Post</a>
  <a href="/posts">All Posts</a>
</div>

<form action="/posts/building" method="POST" id="newpost-form">
      <label for="buildingInput">Building</label>
      <select name="buildingInput" id="buildingInput">
        <option value="All">All</option>
        <option value="Babbio">Babbio</option>
        <option value="Edwin">Edwin A. Stevens Hall</option>
        <option value="Library">S.C. Williams Library</option>
        <option value="GatewayNorth">Gateway North</option>
        <option value="GatewaySouth">Gateway South</option>
        <option value="Carnegie">Carnegie</option>
        <option value="Burchard">Burchard</option>
        <option value="McLean">McLean Hall</option>
        <option value="UCC">University Center</option>
        <option value="Morton">Morton</option>
        <option value="Pierce">Pierce</option>
        <option value="Kidde">Kidde</option>
        <option value="ABS">ABS</option>
        <option value="Howe">Howe</option>
      </select>
       <label for="ratingInput">Maximum Noise Rating</label>
      <select name="ratingInput" id="ratingInput">
        <option value="Any">Any</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
       <button type="submit">Search</button>
</form>

<h1>{{header}}</h1>

<ul >

    {{#each post}}
    <div class ="divBorder">
    <a href="/posts/{{this._id}}">{{this.title}} {{this.name}}</a>
    <p class ="eachPost">Building: {{this.building}}</p> 
    <p class = "eachPost">Floor: {{this.floor}} </p>
    <p class ="eachPost">Description of Study Spot: {{this.description}}</p>
    <p class ="eachPost">Noise Rating: {{this.noiseRating}}</p>
    <p class ="eachPost">Location Rating: {{this.locationRating}}</p>
    <p class ="eachPost">Student Capacity: {{this.studentCapacity}}</p>
    <p class ="eachPost">Rating of NYC View: {{this.nycViewRating}}</p>
    <p class ="eachPost">Is there food nearby? {{this.foodNear}}</p>
    <div class="fitPhoto">
    <img src="{{this.photo}}">
    </div>
    
    </div>
    {{/each}}
</ul>




<a href="/home">Return Home</a>

