
<div class="topnav">
  <a class="active" href="/home">Home</a>
  <a href="/posts/new">New Post</a>
  <a href="/posts">All Posts</a>
</div>
<h1>All Posts</h1>

<ul >

    {{#each post}}
    <div class ="divBorder">
    <a href="/posts/{{this._id}}">{{this.title}}</a>
    <p class ="eachPost">Building: {{this.building}}</p> 
    <p class = "eachPost">Floor: {{this.floor}} </p>
    <p class ="eachPost">Description of Study Spot: {{this.description}}</p>
    <p class ="eachPost">Noise Rating: {{this.noiseRating}}</p>
    <p class ="eachPost">Location Rating: {{this.locationRating}}</p>
    <p class ="eachPost">Student Capacity: {{this.studentCapacity}}</p>
    <p class ="eachPost">Rating of NYC View: {{this.nycViewRating}}</p>
    <p>{{this.photo}}</p>
    <p class ="eachPost">Is there food nearby? {{this.foodNear}}</p>
    </div>
    {{/each}}
</ul>



<a href="/home">Return Home</a>
