
<div class="topnav">
  <a class="active" href="/home">Home</a>
  <a href="/posts/new">New Post</a>
  <a href="/posts">All Posts</a>
</div>
<ul>
    {{#each post}}
    <li> <a href="/posts/{{this._id}}">{{this.title}}</a></li>
    <li>{{this.building}}</li>
    <li>{{this.floor}}</li>
    <li>{{this.description}}</li>
    <li>{{this.noiseRating}}</li>
    <li>{{this.locationRating}}</li>
    <li>{{this.studentCapacity}}</li>
    <li>{{this.nycViewRating}}</li>
    <li>{{this.photo}}</li>
    <li>{{this.foodNear}}</li>
    <p>Post Break</p>
    {{/each}}
</ul>

<a href="/home">Return Home</a>