
<div class="topnav">
    <a class="active" href="/home">Home</a>
    <a href="/posts/new">New Post</a>
    <a href="/posts">All Posts</a>
</div>

<div id="spam-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Report content</p>
        <input type="radio" id="spam" name="spamradio" value="spam">
        <label for="spam">Spam</label><br>
        <input type="radio" id="hateful" name="spamradio" value="hateful">
        <label for="hateful">Hateful content</label><br>
        <input type="radio" id="bullying" name="spamradio" value="bullying">
        <label for="bullying">Bullying</label><br>
        <input type="radio" id="misinformation" name="spamradio" value="misinformation">
        <label for="misinformation">Wrong information</label><br>

        <input id="spamcomment" type="tex" placeholder="Add any other comments here..." /><br>

        <button onclick="submitSpam()">Submit</button>
    </div>

</div>

<p>{{title}}</p>
<p>{{likeMessage}}</p>
<p>{{totalLikes}}</p>
<ul>
    {{#each post}}
    {{this.name}}
    <li>{{this.building}}</li>
    <li>{{this.floor}}</li>
    <li>{{this.description}}</li>
    <li>{{this.noiseRating}}</li>
    <li>{{this.locationRating}}</li>
    <li>{{this.studentCapacity}}</li>
    <li>{{this.nycViewRating}}</li>
    <img src="{{this.photo}}" height="300px" width="500px">
    <li>{{this.foodNear}}</li>
    {{#each comments}}
    <li>{{this.name}} {{this.comment}}</li>
    {{/each}}
    {{/each}}
</ul>
<p>{{postId}}</p>

<form action="/posts/comment/{{postId}}" method="POST" id="comment-form">
    <label for="commentInput">Leave Comment</label>
    <input id="commentInput" type="text" name="commentInput" /><br />
    <button type="submit">Submit Comment</button>
</form>

<form action="/posts/dislike/{{postId}}" method="post">
    <button name="dislike" value="dislike">dislike</button>
</form>

<form action="/posts/like/{{postId}}" method="post">
    <button name="like" value="like">like</button>
</form>

<button name="flag" value="flag" onclick="flagPost()">flag</button>

<form action="/posts/delete/{{postId}}" method="post">
    <button name="delete" value="delete">delete</button>
</form>

<a href="/home">Return Home</a>

<form ref='uploadForm' encType="multipart/form-data" class="" action="/upload" method="post">
    <input type="text" name="fileName" value=""><br>
    <input type="hidden" name="id" value="{{postId}}">
    <input type="file" name="file" value=""><br>
    <input type="submit" name="" value="upload!">
</form>

<script>
    var span = document.getElementsByClassName("close")[0];
    var modal = document.getElementById("spam-modal");

    function flagPost() {
        modal.style.display = "block";
    }

    span.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function submitSpam() {
        modal.style.display = "none";
        var reason = Array.from(document.getElementsByName("spamradio")).find((e) => e.checked).id;
        var comment = document.getElementById("spamcomment").value;
        $.ajax({
            type: "POST",
            url: "flag/{{postId}}",
            data: {
                comments: comment,
                reason: reason
            },
            success: () => alert("Post flagged for spam."),
            error: (xhr) => alert("Error: " + xhr.responseJSON.error)
        });
    }
</script>
