

<ul>
    {{#each post}}
    <li>{{this.building}}</li>
    <li>{{this.floor}}</li>
    <li>{{this.description}}</li>
    <li>{{this.noiseRating}}</li>
    <li>{{this.locationRating}}</li>
    <li>{{this.studentCapacity}}</li>
    <li>{{this.nycViewRating}}</li>
    <li>{{this.photo}}</li>
    <li>{{this.foodNear}}</li>
    <li>{{this.likes}}</li>
    <li>{{this.comments}}</li
    {{/each}}
</ul>
<p>{{postId}}</p>

<a href="/home">Return Home</a>