<div class="topnav">
  <a class="active" href="/home">Home</a>
  <a href="/posts/new">New Post</a>
  <a href="/posts">All Posts</a>
</div>

<p>{{title}}</p>
<p>{{flagged}}</p>
<p>{{likeMessage}}</p>
<p>{{totalLikes}}</p>
<ul>
    {{#each post}}
    {{this.name}}
    <li>{{this.building}}</li>
    <li>{{this.floor}}</li>
    <li>{{this.description}}</li>
    <li>{{this.noiseRating}}</li>
    <li>{{this.locationRating}}</li>
    <li>{{this.studentCapacity}}</li>
    <li>{{this.nycViewRating}}</li>
    <img src="{{this.photo}}" height="300px" width="500px">
    <li>{{this.foodNear}}</li>
    {{#each comments}}
    <li>{{this.name}} {{this.comment}}</li>
    {{/each}}
    {{/each}}
</ul>
<p>{{postId}}</p>

<form action="/posts/comment/{{postId}}" method="POST" id="comment-form">
    <label for="commentInput">Leave Comment</label>
    <input id="commentInput" type="text" name="commentInput" /><br />
    <button type="submit">Submit Comment</button>
</form>

<form action="/posts/dislike/{{postId}}" method="post">
    <button name="dislike" value="dislike">dislike</button>
</form>

<form action="/posts/like/{{postId}}" method="post">
    <button name="like" value="like">like</button>
</form>

<form action="/posts/flag/{{postId}}" method="post">
    <button name="flag" value="flag">flag</button>
</form>

<form action="/posts/delete/{{postId}}" method="post">
    <button name="delete" value="delete">delete</button>
</form>

<a href="/home">Return Home</a>

<form ref='uploadForm' encType="multipart/form-data" class="" action="/upload" method="post">
      <input type="hidden" name="id" value="{{postId}}">
      <input type="file" name="file" accept="image/*" value=""><br>
      <input type="submit" name="" value="upload!">
</form>